.imgProductos {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    /* background-color: rgb(0, 0, 0); */
    color: blue;
}

.colorBoton {
    color: white;
    background-color: #85bb65;
}

.colorBoton:hover {
    background-color: green;
    color: white;

}

.dark  {
    padding: 50px;
    background-color: black;
    color: white;
}

